.navbar {
    color: #ffffff;
    background-color: #82f5dc;
}

a {
    color: #ffffff;
}

.btn {
    color: #ffffff;
    background-color: #c300ff;
}

.navbar-toggler {
    background-color: #c300ff;
}
