* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

/* header */

.navbar {
    background-color: #818048;
}

.nav-link {
    color: #33ff00;
}

.btn {
    color: #ffffff;
    background-color: #c300ff;
}

.navbar-toggler {
    background-color: #c300ff;
}

/* main */

main {
    margin-top: 75px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #00ff4c;
}

p {
    color: #00ff4c;
}